/*GENERICS*/

/*UTILITIES*/
.r-border{
    border: 1px solid rgb(255, 255, 255);
}
.r-white{
    background-color: white;
}
.r-font{
    font-size: 100%;
}
/*CONTENT*/
.r-header-logo{
    background-color: black;
}
.r-H-56{
    height: 56%;
}
.r-H-70{
    height: 70%;
}
.r-header-logo div{
    height: 4vh;
}
.r-header-jumbo{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.r-header-jumbo img{
    margin-top: 180px;
    width: 60%;
}
.r-header-jumbo p{
    font-size: 90%;
}
.r-header-jumbo a,.takes-two a{
    font-size: 100%;
    background-color: hsl(15deg 86% 43%);
}
.r-header-nav ul li img{
    margin: 0px 4px;
    width: 12px;
}
.r-header-nav ul li{
    margin: 0px 20px;
   font-size: 20px;
}
/*GAMES*/
.top-game{
    padding: 1px;
}
.r-radius{
    border-radius: 14px;
}
.games img{
    margin-bottom: 16px;
}
/*PS5*/
.ps5 span{
    color: hsl(207deg 68% 57%);
    font-size: 10px;
}
.ps5 p,.ps4 p{
    font-size: 14px;
    color: hsl(0deg 0% 47%);
}
.ps5 h1{
    font-size: 28px;
}
.ps5 a{
    background-color: hsl(222deg 79% 54%);
}
.r-opacity{
    filter: opacity(60%);
}
.r-opacity:hover{
    filter: opacity(100%);
    border-bottom: 2px solid #0d6efd;
}
/*TAKES-TWO*/
.takes-two{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.takes-two img{
    width: 200px;
}
/*NEWS*/
.new{
    background-color: hsl(0deg 0% 12%);;
}
/*PS-4*/
.ps4 a{
    font-size: 12px;
    background-color: hsl(222deg 79% 54%);
}
/*PS-PLUS*/
.ps-plus{
    background-color: hsl(20deg 2% 74%);
}
.ps-plus img{
    width: 210px;
}
.ps-plus a{
    background-color: hsl(220deg 4% 86%);
}
/*PS-NOW*/
.ps-now{
    background-color: hsl(230deg 46% 16%);
}
.ps-now img{
    width: 210px;
}
.ps-now a{
    color: black;
    background-color: white;
}

/*SCONTI*/
.sconti p{
    color: grey;
}
/*FOOTER*/
.footer{
    background-color: hsl(214deg 100% 31%);
}
.r-img-footer{
    width: 100px;
}