/*GENERICS*/

/*UTILITIES*/
.r-border{
    border: 1px solid rgb(255, 255, 255);
}
.r-white{
    background-color: white;
}

/*CONTENT*/
.r-header-logo{
    background-color: black;
}
.r-H-56{
    height: 56%;
}
.r-H-70{
    height: 70%;
}
.r-header-logo div{
    height: 4vh;
}
.r-header-jumbo{
    height: 68vh;
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.r-header-jumbo img{
    width: 60%;
}
.r-logo{
    margin-top: 135px;
}
.r-header-jumbo p{
    font-size: 12px;
}
.r-header-jumbo a,.takes-two a{
    font-size: 12px;
    background-color: hsl(15deg 86% 43%);
}
/*GAMES*/
.top-game{
    padding: 1px;
}
.r-radius{
    border-radius: 14px;
}
.games img{
    margin-bottom: 16px;
}
/*PS5*/
.ps5 span{
    color: hsl(207deg 68% 57%);
    font-size: 10px;
}
.ps5 p{
    font-size: 13px;
    color: hsl(0deg 0% 47%);
}
.ps5 h1{
    font-size: 28px;
}
.ps5 a{
    font-size: 12px;
    background-color: hsl(222deg 79% 54%);
}
/*TAKES-TWO*/
.takes-two{
    height: 68vh;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.takes-two p{
    font-size: 12px;
}