/*GENERICS*/

/*UTILITIES*/
.r-border{
    border: 1px solid black;
}
.r-white{
    background-color: white;
}

/*CONTENT*/
.r-header-logo{
    background-color: black;
}
.r-H-70{
    height: 70%;
}
.r-header-logo div{
    height: 4vh;
}
.r-header-jumbo{
    height: 68vh;
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.r-header-jumbo img{
    width: 60%;
}
.r-header-jumbo a{
    font-size: 12px;
    text-decoration: none;
    background-color: hsl(15deg 86% 43%);
}
