/*GENERICS*/

/*UTILITIES*/
.r-border{
    border: 1px solid black;
}
.r-white{
    background-color: white;
}

/*CONTENT*/
.r-header-logo{
    background-color: black;
}
.r-H-70{
    height: 70%;
}
.r-header-logo div{
    height: 4vh;
}